div.dropdown {
    display: inline-block;
}

div.dropdown button {
    background-color: #fff;
    border: 0px;
    color: #424242;
    cursor: pointer;
    padding: 5px;
}

div.menu1 {
    margin: 0 0 0 20px;
}

div.menu1 button {
    border-bottom: 2px solid #00BCD4;
}
