.calendar {
    background-color: aliceblue;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.current_daytime {
    height: 20%;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    position: relative;
    background-color: wheat;
}

.prev {
    position: absolute;
    left: 0;
}

.next {
    position: absolute;
    right: 0;
}

.prev, .next:hover {
    cursor: pointer;
}

.active {
    background-color: blue;
}

.daysCalendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.daysCalendar div {
    width: 13.6%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
