.container {
    display: flex;
    max-width: 230px;
    margin: 0 auto;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: blue;
    background-color: blueviolet;
}