* {
    margin: 0;
    padding: 0;
  }
  
  .grid {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  img:nth-child(1) {
    animation-delay: 0s;
  }
  img:nth-child(2) {
    animation-delay: 3s;
  }
  img:nth-child(3) {
    animation-delay: 6s;
  }
  
  img {
    height: 100%;
    widows: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    animation: fade 9s ease-in-out infinite alternate;
  }
  
  .text {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%)
  }