#game-board {
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.snake-part {
    height: 20px;
    width: 20px;
    background-color: green;
    position: absolute;
}

.food-part {
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
}