.cell {
    height: 40px;
    width: 40px;
}

.black {
    background-color: black;
}

.chess {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    border: 1px solid;
    width: 320px;
}

.red {
    background-color: red;
}