* {
    margin: 0;
    padding: 0;
}

.card {
    background-color: #fff;
    height: 200px;
    width: 200px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px
}

#ch {
    display: none;
}

.content {
    display: none;
}

label {
    display: block;
    background: blue;
    cursor: pointer;
    margin-bottom: 10px;
    width: 80px;
}

#ch:checked~.content {
    display: block;
}

#ch:checked~label {
    display: none;
}
