.btn {
    height: 30px;
    width: 70px;
    border-radius: 10px;
    color: gray;
    background-color: white;
    border-color: gray;
}

.btn:hover {
    border-color: red;
    color: red;
    cursor: pointer;
}

.active {
    background-color: red;
    border-color: red;
    color: white;
}
